n8n Worklows/My Workflows/Calendar Manager(Error).json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -640,
        -20
      ],
      "id": "ed5f4693-5fa8-4674-bdd8-022eda979f71",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "531TMsd7JsaDswAi",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Email send from : {{ $json.From }}\n\nEmail Subject : {{ $json.Subject }}\n\nEmail Body : {{ $json.snippet }}",
        "options": {
          "systemMessage": "=# Role\nAct as a highly efficient and professional Personal Assistant. Your primary function is to manage my calendar based on incoming email requests.\n\n# Task\nYour goal is to process incoming email requests to manage my calendar. You will read the email, understand the sender's intent (e.g., schedule, reschedule, cancel a meeting), and use the available tools to interact with my calendar. After performing the necessary action, you will draft a clear and friendly email response to the sender confirming the action or suggesting alternatives if I am unavailable.\n\n## Specifics\n- **Check First:** Always check my calendar for availability using the `Fetch_availability` tool *before* confirming, creating, or agreeing to update an event.\n- **Handle Unavailability:** If I am unavailable at the requested time, politely decline and suggest 2-3 alternative times based on the free slots returned by the `Fetch_availability` tool.\n- **Seek Clarity:** If a request is ambiguous or lacks necessary information (e.g., \"let's meet next week\" without a day or time), ask the sender for clarification before taking any action on the calendar.\n- **Be Proactive:** When you successfully create, update, or delete an event, explicitly state in your response that you have completed the action (e.g., \"I've added this to the calendar,\" or \"I've moved the meeting for you.\").\n\n# Tools\nYou have a suite of calendar management tools. Use them in this logical order:\n1.  **`Fetch_availability`**: Use this first when a new meeting is proposed to see if I am free.\n2.  **`Fetch_particular_event` / `Fetch_multiple_events`**: Use these to find existing events that a user might want to update or delete.\n3.  **`Create_Calendar_Event`**: Use this only after confirming I am available to add a new event to the calendar.\n4.  **`Update_Calendar_Event`**: Use this to modify an existing event, such as changing its time or date.\n5.  **`Delete_Calendar_Event`**: Use this to remove an event from the calendar as requested.\n\n# Examples\n**Q:** Lets meet on Friday 7pm\n**A:** (Checks availability in the calendar) \"Hey there, I've checked the calendar and I am available on Friday at 7pm. I've gone ahead and scheduled it. You'll receive an invite shortly. Looking forward to it!\"\n\n**Q:** Hi, I can't make our call on Wednesday. Can we cancel it?\n**A:** (Finds and deletes the event) \"Hi, thanks for letting me know. I've now cancelled the meeting on Wednesday from the calendar. Let me know if you'd like to find another time in the future.\"\n\n**Q:** Can we meet tomorrow at 3 PM to discuss the project?\n**A:** (Checks availability and finds a conflict) \"Thanks for reaching out. I've checked the calendar, and unfortunately, I'm already booked at 3 PM tomorrow. I am free at 4 PM tomorrow or 10 AM the day after. Would either of those times work for you?\"\n\n# Notes\n- Always maintain a friendly, helpful, and professional tone.\n- Your final output should ONLY be the text for the email response. Do not include notes about which tools you used (e.g., \"(Checks availability in the calendar)\").\n- Never confirm a meeting time without first successfully using the `Fetch_availability` tool to confirm the slot is open.\n- If a tool fails or returns an error, politely inform the sender that you were unable to process the request and ask them to try again.\n- Do not invent information or make assumptions about my schedule. Rely exclusively on the output from the calendar tools.\n- Current date and time : {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -80,
        -20
      ],
      "id": "6b0aa29a-7978-417d-b597-152240bf6eb4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -420,
        200
      ],
      "id": "d2072900-c6f9-43aa-8f3a-136099bca82a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "R6lnHfoKIAe3w9zP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "sandipisbrave@gmail.com",
          "mode": "list",
          "cachedResultName": "sandipisbrave@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "showMeAs": "opaque",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -60,
        200
      ],
      "id": "5620a620-4906-4c1c-8fe6-a5a0584af80c",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "vfLdQNZLZMMzTBCY",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        620,
        -20
      ],
      "id": "ef4789f9-b783-4597-9643-7f3829960faf",
      "name": "Reply to a message",
      "webhookId": "a19c3d01-11f0-4396-8c2c-cce80a7a913f",
      "credentials": {
        "gmailOAuth2": {
          "id": "531TMsd7JsaDswAi",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "sandipisbrave@gmail.com",
          "mode": "list",
          "cachedResultName": "sandipisbrave@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        60,
        200
      ],
      "id": "291d8d86-0b73-4b07-b00a-22c67982224f",
      "name": "Update an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "vfLdQNZLZMMzTBCY",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "sandipisbrave@gmail.com",
          "mode": "list",
          "cachedResultName": "sandipisbrave@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        180,
        200
      ],
      "id": "d648202f-769d-48fb-a5cf-52173d399e5f",
      "name": "Delete an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "vfLdQNZLZMMzTBCY",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "sandipisbrave@gmail.com",
          "mode": "list",
          "cachedResultName": "sandipisbrave@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        300,
        200
      ],
      "id": "c7a6e83d-ac34-4c78-a644-ba92581b1b67",
      "name": "Get an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "vfLdQNZLZMMzTBCY",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Calendar', ``, 'string') }}",
          "mode": "id",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        440,
        200
      ],
      "id": "863ed8c0-fe16-49e7-8fbc-bdfcd02bf010",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "vfLdQNZLZMMzTBCY",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "sandipisbrave@gmail.com",
          "mode": "list",
          "cachedResultName": "sandipisbrave@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {
          "outputFormat": "availability"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -180,
        200
      ],
      "id": "49c0e740-73d7-41c3-bdf7-5b218f632f2b",
      "name": "Get availability in a calendar in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "vfLdQNZLZMMzTBCY",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Gmail Trigger').item.json.From }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        600,
        200
      ],
      "id": "fae0d998-8f94-4a1c-a0a0-e07fcba2686b",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get availability in a calendar in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "33598d54-bdad-47d1-94d5-134250aefed2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e2da5d03ffa9f1a0ba09aa5aa537602469bd41b043be7dc3fe2777bce661b560"
  },
  "id": "Ahzv7rjL6nO1PrDf",
  "tags": []
}